@model Capstone.Web.Models.SurveyModel
@{
    ViewBag.Title = "NewSurveyPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div id="all_inputs">
        <h2 id="input_header">Park Survey</h2>

        @using (Html.BeginForm("NewSurveyPost", "Survey", FormMethod.Post))
        {
            <div class="survey_input">
                @Html.Label("parkCode", "Please select your favorite park: ")
                @Html.DropDownListFor(s => s.ParkCode, (IEnumerable<SelectListItem>)ViewBag.ParkName)
                @Html.ValidationMessageFor(s => s.ParkCode)
            </div>
            <div class="survey_input">
                @Html.Label("emailAddress", "Please enter your email address: ")
                @Html.TextBoxFor(em => em.EmailAddress)
                <div class="red">
                @Html.ValidationMessageFor(em => em.EmailAddress)
            </div>
            </div>
            <div class="survey_input">
                @Html.Label("stateOfResidence", "Please enter your state of residence: ")
                @Html.TextBoxFor(sr => sr.StateOfResidence)
                <div class="red">
                    @Html.ValidationMessageFor(sr => sr.StateOfResidence)
                </div>
                </div>
            <div>
                <div class="survey_input">
                    @Html.Label("physicalActivityLevel", "Please select your level of activity: ")<br />
                </div>
                @Html.RadioButtonFor(pa => pa.PhysicalActivityLevel, "Inactive") Inactive <br />
                @Html.RadioButtonFor(pa => pa.PhysicalActivityLevel, "Sedentary") Sedentary<br />
                @Html.RadioButtonFor(pa => pa.PhysicalActivityLevel, "Active") Active <br />
                @Html.RadioButtonFor(pa => pa.PhysicalActivityLevel, "Extremely Active") Extremely Active<br />
               <div class="survey_input red">
                 @Html.ValidationMessageFor(pa => pa.PhysicalActivityLevel)
            </div>
            </div>
            <button>Submit</button>
        }
    </div>

    <img id="backpack" src="/Content/backpack.png" />
</section>