@model List<Capstone.Web.Models.ParkWeatherModel>
@{
    ViewBag.Title = "Forecast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    @using (Html.BeginForm("TemperatureConversion", "Weather",  FormMethod.Post))
    {
        
        <p>Fahrenheit @Html.RadioButton("temp", "Fahrenheit (F)")</p>
        <p>Celsius @Html.RadioButton("temp", "Celsius (C)")</p>
        <input type="hidden" name="parkCode" value="@Model[0].ParkCode"/>
        <button>Submit</button>
    }

    @foreach (var weather in Model)
    {
        <h1>@weather.parkName[weather.ParkCode] Weather Forecast</h1>
        <h1>Today</h1>
            <div>
                <img src=@("/Content/" + weather.Forecast + ".png") />
                <p>@weather.outlook[weather.Forecast]</p>
                <p>High @weather.CalculateCelsius(weather.High) @weather.Unit() / Low @weather.CalculateCelsius(weather.Low) @weather.Unit()</p>
                <p>@weather.WeatherGear()</p>
            </div>
    }


</section>
